<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body th:fragment="not-found">
<head th:replace="~{header::head}"></head>
<div th:replace="~{header::header}"></div>
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/img/bg-img/1.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>404 - PAGE NOT FOUND</h2>
                            <p>Well! maybe you got wrong way hehe, please come back</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/img/bg-img/2.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>404 - PAGE NOT FOUND</h2>
                            <p>Well! maybe you got wrong way hehe, please come back</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
<div th:replace="~{footer::footer}"></div>
</body>
</html>