<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flower Shop Login</title>
    <link rel="stylesheet" href="./css/style1.css" />
</head>
<body>
<div class="login-container">
    <div class="login-header">
        <h2>Welcome to Flower Shop </h2>
        <p>Đăng nhập để trải nghiệm mua sắm tuyệt vời cùng chúng tôi!</p>
    </div>

    <form th:action="@{/account/login}" class="login-form" th:method="POST">
        <div class="input-group">
            <label for="email">Email</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Nhập email của bạn"
                    required
            />
        </div>

        <div class="input-group">
            <label for="password">Mật khẩu</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Nhập mật khẩu"
                    required
            />
        </div>

        <div class="actions">
            <button type="submit" class="btn-login">Đăng nhập</button>

        </div>
    </form>
    <a th:href="@{/forget}" class="forgot-password">Quên mật khẩu?</a>

    <div class="signup">
        <p>Chưa có tài khoản? <a href="register.html">Đăng ký ngay</a></p>
    </div>
</div>
</body>
</html>
